<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#" />
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Contraseña</label>
        <input name="password" type="password">
        <br>
        <input type="submit">
    </form>
    <p>No estás registrado? <a href="/register">Regístrate aquí</a></p>

    <!-- Incluye jQuery desde un CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Agrega aquí tu código jQuery
        $(document).ready(function () {
            const form = $('#loginForm');

            form.on('submit', function (e) {
                e.preventDefault();
                const data = new FormData(this);
                const obj = {};
                data.forEach((value, key) => obj[key] = value);
                fetch('api/sessions/login', {
                    method: 'POST',
                    body: JSON.stringify(obj),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(result => {
                    console.log(result.status);
                    if (result.status === 200) {
                        window.location.replace('/products');
                    }
                });
            });
        });
    </script>
</body>
</html>
