<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#" />
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form id="registerForm">

        <label>Nombre</label>
        <input name="first_name">
        <br/>
        <label>Apellido</label>
        <input name="last_name">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Edad</label>
        <input name="age">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>

    <!-- Incluye jQuery desde un CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Agrega aquí tu código jQuery
        $(document).ready(function () {
            const form = $('#registerForm');

            form.on('submit', function (e) {
                e.preventDefault();
                const data = new FormData(this);
                const obj = {};
                data.forEach((value, key) => obj[key] = value);
                fetch('api/sessions/register', {
                    method: 'POST',
                    body: JSON.stringify(obj),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(result => result.json()).then(json => console.log(json));
            });
        });
    </script>
</body>
</html>

